apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "vaculikovolevevarle.fullname" . }}-lavalink-config
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "vaculikovolevevarle.labels" . | nindent 4 }}
data:
  application.yaml: |
    server:
      port: {{ .Values.lavalink.port }}
      address: 0.0.0.0
      http2:
        enabled: false
    plugins:
      lavasrc:
        providers:
          - "ytsearch:\"%ISRC%\""
          - "ytsearch:\"%QUERY%\""
        sources:
          spotify: true
        spotify:
          clientId: "${SPOTIFY_CLIENT_ID}"
          clientSecret: "${SPOTIFY_CLIENT_SECRET}"
          countryCode: "{{ .Values.lavalink.spotify.countryCode }}"
          playlistLoadLimit: {{ .Values.lavalink.spotify.playlistLoadLimit }}
          albumLoadLimit: {{ .Values.lavalink.spotify.albumLoadLimit }}
      youtube:
        enabled: true
        allowSearch: true
        allowDirectVideoIds: true
        allowDirectPlaylistIds: true
        remoteCipher:
          url: "https://cipher.kikkia.dev/"
          userAgent: "vaculikovolevevarle-bot"
          clients:
            - ANDROID
            - WEB
            - ANDROID_VR
          WEB:
            playback: false
          TVHTML5EMBEDDED:
            playlistLoading: false
            videoLoading: false
            searching: false
    lavalink:
      plugins:
          - dependency: "dev.lavalink.youtube:youtube-plugin:1.15.0"
            snapshot: false
          - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.2.0"
            repository: "https://maven.lavalink.dev/releases"
            snapshot: false
        server:
          password: "${LAVALINK_PASSWORD}"
          sources:
            youtube: false
            bandcamp: true
            soundcloud: true
            twitch: true
            vimeo: true
            nico: true
            http: false
            local: false
          filters:
            volume: true
            equalizer: true
            karaoke: true
            timescale: true
            tremolo: true
            vibrato: true
            distortion: true
            rotation: true
            channelMix: true
            lowPass: true
          bufferDurationMs: 400
          frameBufferDurationMs: 5000
          opusEncodingQuality: 10
          resamplingQuality: LOW
          trackStuckThresholdMs: 10000
          useSeekGhosting: true
          youtubePlaylistLoadLimit: 6
          playerUpdateInterval: 5
          youtubeSearchEnabled: true
          soundcloudSearchEnabled: true
          gc-warnings: true
      metrics:
        prometheus:
          enabled: false
          endpoint: /metrics
      sentry:
        dsn: ""
        environment: ""
      logging:
        file:
          path: ./logs
        level:
          root: INFO
          lavalink: INFO
        request
          enabled: true
          includeClientInfo: true
          includeHeaders: false
          includeQueryString: true
          include:Payload: true
          maxPayloadLength: 10000
        logback:
          rollingpolicy:
            max-file-size: 1GB
            max-history: 30
